@model LanarkshireGamers.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">Username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">Firstname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Firstname)
    </div>

    <div class="display-label">Lastname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lastname)
    </div>

    <div class="display-label">EmailAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">GeekUserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GeekUserName)
    </div>

    <div class="display-label">FacebookUserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacebookUserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
