@model IEnumerable<LanarkshireGamers.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            GeekID
        </th>
        <th>
            Name
        </th>
        <th>
            ThumbNailURL
        </th>
        <th>
            Description
        </th>
        <th>
            MinNumberOfPlayers
        </th>
        <th>
            MaxNumberOfPlayers
        </th>
        <th>
            GeekRating
        </th>
        <th>
            PlayTime
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GeekID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src='@item.ThumbNailURL' />
        </td>
        <td>
             <div class='content'>    
                 @Html.Raw(HttpUtility.HtmlDecode(item.Description));
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinNumberOfPlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxNumberOfPlayers)
        </td>
        <td>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
