@model LanarkshireGamers.ViewModel.SearchGameViewModelResults

@{
    ViewBag.Title = "Add Games";
}

<h2>Add Games to Collection</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Ajax.BeginForm("Search","Game",new AjaxOptions{ HttpMethod="POST", UpdateTargetId="search-results"})) {
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.searchTerm)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.searchTerm)
            @Html.ValidationMessageFor(model => model.searchTerm)
        </div>
        <input type="submit" value="Search" />
    </fieldset>
}

@using (Html.BeginForm("SaveSelection", "Game",FormMethod.Post))
{
    <div id="search-results">
        @Html.Partial("_SearchGameViewControl",Model.Games)
    </div>
    
    <input type="submit" value="Save Selection" />
}

<!-- http://stackoverflow.com/questions/9599679/how-to-make-preview-webpage-application -->
<script type="text/javascript">
    $(document).ready($(function () {
        $(".hoverElement").mouseenter(function () {
            $(this).after('<iframe id=preview width=640 height=480 src=' + $(this).text + '></iframe>');
        });
        $(".hoverElement").mouseleave(function () {
            $('#preview').remove();
        });
    }));
</script>


